@model IEnumerable<Mani.Models.Form>
@{
    ViewBag.Title = "RoomOrder";
    Layout = "~/Views/Shared/_Layout 2.cshtml";
}

<!-- Bread crumb and right sidebar toggle -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">旅舍訂單</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item"><a href="/Backend/Index" class="text-muted">首頁</a></li>
                        <li class="breadcrumb-item text-muted active" aria-current="page">旅舍訂單</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Bread crumb and right sidebar toggle -->
<!-- Container fluid  -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- basic table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card card-hover">
                                <div class="p-2 bg-primary text-center">
                                    <h1 class="font-light text-white">@ViewBag.TotalOrders</h1>
                                    <h6 class="text-white">總訂單</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card card-hover">
                                <div class="p-2 bg-success text-center">
                                    <h1 class="font-light text-white">@ViewBag.Resolve</h1>
                                    <h6 class="text-white">已入住</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card card-hover">
                                <div class="p-2 bg-danger text-center">
                                    <h1 class="font-light text-white">@ViewBag.Pending</h1>
                                    <h6 class="text-white">未入住</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                    </div>
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered no-wrap">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <a href="/Hostel/Calendar">
                                            <i class="far fa-calendar-alt"></i>
                                        </a>
                                    </th>
                                    <th class="text-center">狀態</th>
                                    <th class="text-center">訂單編號</th>
                                    <th class="text-center">主人姓名</th>
                                    <th class="text-center">手機號碼</th>
                                    <th class="text-center">貓咪名字</th>
                                    <th class="text-center">房型名稱</th>
                                    <th class="text-center">入住時間</th>
                                    <th class="text-center">退房時間</th>
                                    <th class="text-center">下單時間</th>
                                    <th class="text-center">電子信箱</th>
                                    @*<th class="text-center">@Html.DisplayNameFor(model => model.Status)</th>*@
                                    @*<th class="text-center">@Html.DisplayNameFor(model => model.FormID)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.OwnerName)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.CatsName)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.RoomName)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.CheckIn)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.CheckOut)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.CreatedDate)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.Email)</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td class="text-center">
                                            @if (item.Status == "未入住")
                                            {
                                                @*<button id="btn1" type="button" class="btn btn-secondary btn-circle" onclick="UpdateStatus('@item.OrderID')"><i class="fa fa-check"></i></button>*@
                                                <button type="button" class="btn btn-secondary btn-circle update-status" data-formid="@item.FormID"><i class="fa fa-check"></i></button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i></button>
                                            }
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.FormID)
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.OwnerName)
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.CatsName)
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.RoomName)
                                        </td>
                                        <td class="text-center align-middle" style="max-width: 120px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                            @Html.DisplayFor(modelItem => item.CheckIn)
                                        </td>
                                        <td class="text-center align-middle" style="max-width: 120px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                            @Html.DisplayFor(modelItem => item.CheckOut)
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center">狀態</th>
                                    <th class="text-center">訂單編號</th>
                                    <th class="text-center">主人姓名</th>
                                    <th class="text-center">手機號碼</th>
                                    <th class="text-center">貓咪名字</th>
                                    <th class="text-center">房型名稱</th>
                                    <th class="text-center">入住時間</th>
                                    <th class="text-center">退房時間</th>
                                    <th class="text-center">下單時間</th>
                                    <th class="text-center">電子信箱</th>
                                </tr>
                            </tfoot>
                        </table>
                        <a href="/Hostel/RoomOrder">第一頁</a>

                        @if (ViewBag.CurrentPage != 1)
                        {
                            <a href="/Hostel/ChangePage?pageIndex=@(ViewBag.CurrentPage-1)">上一頁</a>
                        }

                        @if (ViewBag.CurrentPage != ViewBag.TotalPages)
                        {
                            <a href="/Hostel/ChangePage?pageIndex=@(ViewBag.CurrentPage+1)">下一頁</a>
                        }

                        <a href="/Hostel/ChangePage?pageIndex=@ViewBag.TotalPages">最後一頁</a>

                        @ViewBag.CurrentPage / @ViewBag.TotalPages
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Container fluid  -->
@section MyJS{
    <script>
        $(function () {
            $(".update-status").click(function () {
                var formId = $(this).data("formid");

                $.post("/Hostel/UpdateStatus", { formId: formId })
                    .done(function () {

                        location.reload(); // 更新後刷新
                    })
            });
        });
    </script>

}

