@model IEnumerable<Mani.Models.Product>
@{
    ViewBag.Title = "ProductOverview";
    Layout = "~/Views/Shared/_Layout 2.cshtml";
}

<!-- Bread crumb and right sidebar toggle -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">商品總覽</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item"><a href="/Backend/Index" class="text-muted">首頁</a></li>
                        <li class="breadcrumb-item text-muted active" aria-current="page">商品總覽</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Bread crumb and right sidebar toggle -->
<!-- Container fluid  -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- basic table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-5 text-left">
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-success" onclick="location.href='/Mall/AddProduct'">
                            新增商品
                        </button>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered no-wrap">
                            <thead>
                                <tr>
                                    <th class="text-center">產品照片</th>
                                    <th class="text-center">編號</th>
                                    <th class="text-center">類別</th>
                                    <th class="text-center">產品名稱</th>
                                    <th class="text-center">產品價格</th>
                                    <th class="text-center">庫存</th>
                                    <th class="text-center">產品描述</th>
                                    @*<th class="text-center">@Html.DisplayNameFor(model => model.ProductImg)</th>
                                    <th class="text-center">@Html.DisplayNameFor(model => model.ProductID)</th>
                                    <th class="text-center">@Html.DisplayNameFor(model => model.Type)</th>
                                    <th class="text-center">@Html.DisplayNameFor(model => model.ProductName)</th>
                                    <th class="text-center">@Html.DisplayNameFor(model => model.ProductPrice)</th>
                                    <th class="text-center">@Html.DisplayNameFor(model => model.UnitInStock)</th>
                                    <th class="text-center">@Html.DisplayNameFor(model => model.ProductDesc)</th>*@
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center align-middle">
                                            @*@Html.DisplayFor(modelItem => item.ProductImg)*@
                                            <img src="/Pic/product/@item.ProductImg" alt="Product Image" class="img-thumbnail" style="max-width: 100px;" />
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.ProductID)
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.Type)
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.ProductName)
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.ProductPrice)
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.UnitInStock)
                                        </td>
                                        <td class="text-center align-middle" style="max-width: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"
                                            title="@Html.DisplayFor(modelItem => item.ProductDesc)">
                                            @Html.DisplayFor(modelItem => item.ProductDesc)
                                        </td>
                                        <td class="text-center align-middle">
                                            <button type="button"
                                                    class="btn waves-effect waves-light btn-rounded btn-warning" onclick="location.href='/Mall/EditProduct/@item.ProductID'">
                                                修改
                                            </button>
                                            <button type="button"
                                                    class="btn waves-effect waves-light btn-rounded btn-danger" onclick="location.href='/Mall/DelProduct/@item.ProductID'">
                                                刪除
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center">產品照片</th>
                                    <th class="text-center">編號</th>
                                    <th class="text-center">類別</th>
                                    <th class="text-center">產品名稱</th>
                                    <th class="text-center">產品價格</th>
                                    <th class="text-center">庫存</th>
                                    <th class="text-center">產品描述</th>
                                    <th class="text-center"></th>
                                </tr>
                            </tfoot>
                        </table>
                        <a href="/Mall/ProductOverview">第一頁</a>

                        @if (ViewBag.CurrentPage != 1)
                        {
                            <a href="/Mall/ChangePage2?pageIndex=@(ViewBag.CurrentPage-1)">上一頁</a>
                        }

                        @if (ViewBag.CurrentPage != ViewBag.TotalPages)
                        {
                            <a href="/Mall/ChangePage2?pageIndex=@(ViewBag.CurrentPage+1)">下一頁</a>
                        }

                        <a href="/Mall/ChangePage2?pageIndex=@ViewBag.TotalPages">最後一頁</a>

                        @ViewBag.CurrentPage / @ViewBag.TotalPages
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- End Container fluid  -->
